@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("fontello.css");
/* 스타일 초기화 */
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}
/* 숨김 콘텐츠 */
.readable-hidden{
  background: teal;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  margin: -1px;
}
/* 클래스 모듈 */
/* float 이슈를 해결하기 위한 Clear 기능 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* 기본 스타일 */
body{
  color: #181818;
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  line-height: 1.15;
  background: linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%);
}
/* 컨테이너 */
.container{
  background: url("images/bg_flower.png") no-repeat 50% 0;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0  auto;
}
.bg-footer{
  background: linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%);
}
/* 헤더 */
.header{
  position: relative;
  background: #fff;
  padding: 0 30px 45px; 
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo{
   position: absolute;
  top: 50px;
  left: 65px;
}
/* 안내링크 */
.member{
  text-align: right;
  font-size: 0;
  padding: 2px 0;
  margin-right: -10px;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
  text-transform: uppercase;
}
.bar::before{
  content: ":";
  margin:0 1px;
}
.member a{
  padding: 5px 10px;
}
/* 메인 메뉴 */
.menu{
  background:#e2572d linear-gradient(to bottom, #ea892e 0%,#e2572d 30%,#e2572d 70%,#ea892e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin-top: 10px;
  padding-left: 225px;
  border-top:2px solid #000;
  border-radius:0 0 5px 5px;
}
.menu > li{
  float: left;
  position: relative;
}
.menu-item-text{
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  padding: 1em 18px;
  display: block;
  border-left: 1px solid #fff;
  text-shadow:1px 0 0 #000, 0 1px 0 #000,-1px 0 0 #000, 0 -1px 0 #000;
}

.menu-act .menu-item-text{
  color:#ff0;
  position: relative;
}

.menu-act .menu-item-text::after{
 position: absolute;
 width:calc(100% - 36px);
 bottom:-2px;
 content:"";
 display:block;
 border-top:2px solid #000;
}/*span의 마지막 자식요소를 만든다.*/


.sub-menu{
  /*background:pink;*/
  position: absolute;
  white-space:nowrap;
  display: none;
  top:55px;
}

.menu-act .sub-menu{
  display:block;
}

.sub-menu1, .sub-menu2, .sub-menu3{
  left:0;
}
.sub-menu4, .sub-menu5, .sub-menu4{
  right:0;
}


.sub-menu li, .sub-menu a{
  display:inline-block;
}

.sub-menu a{
  padding:10px 0;
  margin-right: 10px;
}

/* 비주얼 */
@keyframes textAni{
  0%{
    font-size:12px;
    color:rgba(0,0,0,0);/*투명도 효과*/
    transform: translate(0,0)
  }
  100%{
    font-size:24px;
    color:rgba(0,0,0,1);/*투명도 효과*/
    transform: translate(400px, 75px);
  }
}
@keyframes flowerAni{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content:"";
  /*display:block;*/
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  left:0;
  animation-name: flowerAni;
  animation-duration: 2s;
  animation-iteration-count: infinite;/*무한반복키워드*/
  animation-direction: alternate;/*순방향->역방향반복*/
}
.visual::before{
  background-image:url("images/ani_flower_01.png"),url("images/ani_flower_02.png");
  background-position:0 -10px,670px 0;/*,를 찍으면 무한정*/
}
.visual::after{
  background-image:url("images/ani_flower_03.png"),url("images/ani_flower_04.png");
  background-position:300px 0px,800px 0;/*,를 찍으면 무한정*/
  animation-delay: 1s;
  /*animation-play-state: paused;일시적인 멈춤 기능(버튼을 만들었다가 컨트롤함)*/
  animation-timing-function: ease-in-out;/*공떨어지는애니메이션*/
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name:textAni;
  animation-duration: 5s;
  animation-fill-mode:forwards;
  /*글자크기변화*/
  width:545px;/*넓이를 임의로 정해줌*/
}
/* 메인 콘텐츠 */
.main{
  background: lime;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.group1{
  background: pink;
  width: 250px;
}
.group2{
  background: pink;
  width: 380px;
}
.group3{
  background: pink;
  width: 190px;
}

